{% load staticfiles %}

<head>
	<meta name="title" content="Поддержка" />
	<meta name="title" content="Оставье свой отзыв или замечание" />
	<meta name="viewport" content="width=device-width, initial-scale=1">

  <style>
  @font-face {
  font-family: 'Glyphicons Halflings';
  src: url('{% static "glyphicons-halflings-regular.eot" %}');
  src: url('{% static "glyphicons-halflings-regular.woff2" %}');
  }
  </style>

  <link rel="stylesheet" href="{% static "bootstrap.min.css" %}">
  <script src = "{% static "jquery-1.12.4.min.js" %}"></script>
  <script src = "{% static "moment-with-locales.min.js" %}"></script>
  <script src = "{% static "bootstrap.min.js" %}"></script>
  <script src = "{% static "transition.js" %}"></script>
  <script src = "{% static "collapse.js" %}"></script>
  <script src = "{% static "bootstrap-datetimepicker.min.js" %}"></script>



</head>

<body role="document">

		<nav class="navbar navbar-inverse navbar-fixed-top">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand nav-button" href="/">Поддержка</a>
				</div>
				<div id="navbar" class="navbar-collapse collapse">
					<ul class="nav navbar-nav">
						{% if user.is_staff %}
              <li><a class="nav-button" href="{% url 'issues' %}">Обращения</a></li>
              <li><a class="nav-button" href="/admin/">Админка</a></li>
            {% else %}
              <li><a class="nav-button" href="{% url 'create-issue' %}">Создать обращение</a></li>
						{% endif %}
					</ul>
					<ul class="nav navbar-nav navbar-right">
						{% if user.is_authenticated %}
							<li class="dropdown">
								 <a href="#" class="dropdown-toggle nav-button" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{user}} <span class="caret"></span></a>
								 <ul class="dropdown-menu">
									 <li><a href="{% url 'password_change' %}">Смена пароля</a></li>
									 <li><a href="{% url 'logout' %}">Выход</a></li>
								 </ul>
							</li>
						{% else %}
							<li><a class="nav-button" href="{% url 'login' %}">Войти</a></li>
						{% endif %}
					</ul>
				</div>
			</div>
		</nav>

		<br /><br /><br /><br />

		<div class="container theme-showcase" role="main">
			{% block content %}
			{% endblock %}
	  </div>

</body>
