{% extends 'base.html' %}

{% block content%}

<h2>Регистрация обращения</h2>

{% if user.is_authenticated %}
<p> Обращение будет зарегистрировано от имени: {{user.username}}</p>
{% else %}
<p> Вы собираетесь зарегистрировать анонимное обращение. Если у вас уже есть аккаунт на сайте, то вы можете войти на сайт.</p>
<a href="{% url 'login' %}">Войти</a>
{% endif %}

<form class="form-horizontal" method="post" action="{{ request.path }}">
  {% csrf_token %}
  <fieldset>
    {% if not user.is_authenticated %}
      {% with fld=form.author_email %}
        <div class="control-group">
          <label class="control-label">Электронный адрес для оповещения</label>
          {{ fld.label_tag }}
          <div class="controls">
            {{fld}}
          </div>
        </div>
      {% endwith %}
    {% endif %}


    <div class="control-group">
      {{form.author}}
    </div>

    <div class="control-group">
      <label class="control-label">Тема</label>
      <div class="controls">
        {{form.subject}}
      </div>
    </div>

    <div class="control-group">
      <label class="control-label">Текст</label>
      <div class="controls">
        {{form.text}}
      </div>
    </div>

  </fieldset>
  <br />
  <div class="form-actions">
    <button type="submit" class="btn btn-primary">Зарегистрировать обращение</button>
  </div>
</form>

{% endblock %}
