{% extends 'base.html' %}

{% block content%}

{% for e in form.non_field_errors %}
  <div class="alert alert-danger">{{ e }}</div>
{% endfor %}

<form class="form-horizontal" method="post" action="{% url 'create-issue' %}">
  {% csrf_token %}
  <fieldset>
    {% for field in form %}
      {% if field.is_hidden %}
        <div class="control-group">
          <div class="controls">{{ field }}</div>
        </div>
      {% else %}
        <div class="control-group">
          <label class="control-label">{{ field.label }}</label>
          <div class="controls">{{ field }}</div>
        </div>
      {% endif %}
    {% endfor %}
  </fieldset>
  <br />
  <div class="form-actions">
    <button type="submit" class="btn btn-primary">
    Сохранить</button>
  </div>
</form>

{% endblock %}
