{% extends 'base.html' %}

{% block content%}
	<h3>{{ issue.subject }} <small>{{ issue.creation_date }}</small> </h3>

  {% if issue.author %}
    <h3>{{ issue.author }} <small>{{ issue.author_email }}</small> </h3>
  {% else %}
    <h3>{{ issue.author_email }} </h3>
  {% endif %}


	<blockquote>
		{{ issue.text |linebreaks }}
	</blockquote>

	{% if issue.solved %}
		<b> Закрыто: {{ issue.solved_date }}, сотрудником: {{issue.solved_by}}  </b>
		<blockquote>
				{{issue.response_text |linebreaks}}
		</blockquote>
	{% elif user.is_staff %}
    <form class="form-horizontal" method="post" action="{% url 'response-issue' %}">
      {% csrf_token %}
      Текст ответа
      {% for field in form %}
          <div class="control-group">
            <div class="controls">{{ field }}</div>
          </div>
      {% endfor %}
      <br />
      <div class="form-actions">
        <button type="submit" class="btn btn-primary">
        Сохранить</button>
      </div>
    </form>
  {% else %}
    <b> На ваше обращение еще нет ответа </b>
	{% endif %}
{% endblock %}
