{% extends 'base.html' %}

{% block content%}

<h2>Список обращений</h2>
{% if user.is_staff %}
<div class="well">
  <form class="form-inline">

    <div class="form-group">
      <label for="date"> Дата обращения </label>
      <div class='input-group date' id='datetimepicker'>
          <input id='id_date' name='date' type='text' class="form-control" value="{{form.date.value}}"/>
          <span class="input-group-addon">
               <span class="glyphicon glyphicon-calendar"></span>
          </span>
      </div>
    </div>

    <div class="form-group">
      <label for="author"> Автор обращения </label>
      <input id="id_author" maxlength="255" name="author" class="form-control" type="text" value={{form.author.value|default:""}}>
    </div>

    <div class="form-group">
      <label for="show_closed"> Показывать завершенные </label>
      {{form.show_closed}}
    </div>

    <button style="margin-left: 5%;" type="submit" class="btn btn-default">Найти</button>

  </form>
</div>

<script type="text/javascript">
    $(function () {
        $('#datetimepicker').datetimepicker({
          format: 'YYYY-MM-DD',
          locale: 'ru',
          icons: {
            time: 'glyphicon glyphicon-time',
            date: 'glyphicon glyphicon-calendar',
            up: 'glyphicon glyphicon-chevron-up',
            down: 'glyphicon glyphicon-chevron-down',
            previous: 'glyphicon glyphicon-chevron-left',
            next: 'glyphicon glyphicon-chevron-right',
            today: 'glyphicon glyphicon-screenshot',
            clear: 'glyphicon glyphicon-trash',
            close: 'glyphicon glyphicon-remove'
          }
        });
    });
</script>

{% endif %}

{% for issue in issues %}
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">
        <a href="{{ issue.get_absolute_url }}">
          Тема: {{ issue.subject }}
          От:
          {% if issue.author %}
            {{issue.author}}:
          {% endif %}
          {{issue.author_email}}.
          {{ issue.creation_date }}</a>
      </h3>
    </div>
    <div class="panel-body">
      <b>Текст обращения:</b>
      {{ issue.text |linebreaks }}
    </div>
    {% if issue.solved %}
      <b> Закрыто: {{ issue.solved_date }}, сотрудником: {{issue.solved_by}}  </b>
      <blockquote>
          {{issue.response_text |linebreaks}}
      </blockquote>
    {% endif %}
  </div>

{% endfor %}

<nav><ul class="pagination">
{% for p in paginator.page_range %}
  {% if p == issues.number %}
  <li class="active">
  {% else %}
  <li>
  {% endif %}
    <a href="{{ paginator.baseurl }}{{ p }}">
    {{ p }}</a>
</li>
{% endfor %}
</ul></nav>

{% endblock %}
