{% extends 'base.html' %}

{% block content%}
  {% if issue.author %}
    <h3> Автор: <a href="{% url 'account'  issue.author.pk %}">{{ issue.author }}</a> <small>{{ issue.author_email }}</small> </h3>
  {% else %}
    <h3>Анонимное обращение. Адрес уведомления: {{ issue.author_email }} </h3>
  {% endif %}

  <h3>Обращение: {{ issue.subject }} <small> От: {{ issue.creation_date }}</small> </h3>

  Текст обращения:
	<blockquote>
		{{ issue.text |linebreaks }}
	</blockquote>

	{% if issue.solved %}
		<b> Закрыто: {{ issue.solved_date }}, сотрудником: {{issue.solved_by}}  </b>
		<blockquote>
				{{issue.response_text |linebreaks}}
		</blockquote>
	{% elif user.is_staff %}
    <form class="form-horizontal" method="post" action="{% url 'response-issue' %}">
      {% csrf_token %}
      Текст ответа
      <div class="controls">
        {{form.response_text}}
      </div>

      <br />
      <div class="form-actions">
        <button type="submit" class="btn btn-primary">
        Сохранить</button>
      </div>
    </form>
  {% else %}
    <b> На ваше обращение еще нет ответа </b>
	{% endif %}
{% endblock %}
